ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20;
    padding: 0;
    overflow: hidden;
    background-color: #ffe5cc;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffca99;
}
img {
	display: block;
	margin: auto;
	width: 30%;
}
