ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20;
    padding: 0;
    overflow: hidden;
    background-color: #ffe5cc;
}
body {
     text-align:center;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffca99;
}

.container {
  position: relative;
  margin: auto;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  display: inline-block;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffe5cc;
}

.container:hover .overlay {
  opacity: .75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
