#welcome > img {
  width: 80%;
}

a {
  color: black;
}

a:hover {
  color: #EF8FA1

}

.top-image {
  background: white;
}

.blog-image {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Petit Formal Script', cursive;
}

nav, .nav-pills .nav-link.active {
  background-color: #F8F0EC;
  color: black;
  
}

nav a {
  color: black;

}

nav a:hover {
  color: #EF8FA1;
}

h1 {
  font-size: 72px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.social-icons {
  text-align: center;
  background: #f8f8f8;

}



