ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20;
    padding: 0;
    overflow: hidden;
    background-color:   #FF00FF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e8b4b4;
}
img {
        display:block;
        margin:auto;
}
.container {
  position: relative;
  margin: auto;
  width: 50%;
}

.image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.overlay {
  opacity: 0;
  width: 50%;
  transition: .5s ease;
  background-color: #ffcccc;
}

.container:hover .overlay {
  opacity: .9;
  background-color: #ffcccc;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffcccc;
}
body {
        text-align:center;
}
input[type="text"],input[type="file"],textarea,button,input[type="email"] {
        font-size:10px;
        margin:auto;
        font-family: "Raleway", sans-serif;
}
